<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HomePage</title>
</head>
<style>

</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Sản Phẩm</a>
        <!-- <a href="/khachhang">Thông Tin Khách Hàng</a> -->
        <a href="/All-donhang">Tất Cả Đơn Hàng</a>
    </div>
    <!-- <div class="form">
        <form action="/create-Sanpham" enctype="multipart/form-data" method="post">
            <fieldset>
                <legend>Form add new users</legend>
                <div class="input-group">
                    <label for="">ID</label>
                    <input type="text" name="Gia" value="">
                </div>
                <div class="input-group">
                    <label for="">Tên Sản Phẩm</label>
                    <input type="text" name="tenSanpham">
                </div>
                <div class="input-group">
                    <label for="">Giá bán</label>
                    <input type="text" name="Gia">
                </div>

                <div class="input-group">
                    <label for="size">Tên Hãng</label>
                    <select name="Tenhang" id="">

                        <option value="Nike">Nike</option>


                    </select>
                </div>

                <div class="input-group">
                    <label for="">Mã Loại</label>
                    <input type="text" name="Loaisanpham">
                </div>
                <div class="input-group">
                    <label for="size">Size</label>
                    <select name="Size" id="size">

                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>

                    </select>
                </div>
                <div class="input-group input-groupcity">
                    <label for="">Số lượng</label>
                    <input type="text" name="Soluong">
                </div>
                <div>
                    <label for="">Avatar: </label>
                    <input type="file" name="profile_pic" />
                </div>
                <td>
                    <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data"></form>
                </td>
                <div class="button">
                    <button> Adđ New User</button>
                </div>
            </fieldset>
        </form>
    </div> -->
    <div class="list-users"> Danh Sách Sản Phẩm

        <table>
            <tr>
                <th>Mã </th>
                <th>Tên Sản Phẩm</th>
                <th>Tên Hãng</th>
                <th>Giá bán</th>

                <th>Mã Loại</th>
                <th>Size </th>
                <th>Số lượng</th>
                <th> Mô tả</th>
                <th> Hình ảnh</th>
            </tr>
            <% listSanpham.forEach(function(listSanpham) { %>
                <tr>

                    <td>
                        <%= listSanpham.MASP %>
                    </td>
                    <td>
                        <%= listSanpham.TENSANPHAM %>
                    </td>
                    <td>
                        <%= listSanpham.TENHANG %>
                    </td>
                    <td>
                        <%= listSanpham.GIA %>
                    </td>

                    <td>
                        <%= listSanpham.MALOAI %>
                    </td>
                    <td>
                        <%= listSanpham.GIATRI %>
                    </td>
                    <td>
                        <%= listSanpham.SOLUONG %>
                    </td>
                    <td>
                        <%= listSanpham.THONGTINSANPHAM %>
                    </td>
                    <td>


                        <img src="/images/<%= listSanpham.description %>" alt="" width="50px" height="50px" />
                    </td>

                    <td>
                        <form action="/chon-sanpham/<%= listSanpham.MASP %>" method="post"><button>Chọn</button>
                        </form>


                    </td>

                </tr>

                <% }); %>



        </table>

    </div>
    <style>
        .list-users {
            padding: 15px 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #ccc;
        }
    </style>
</body>


</html>